POSTGRES_DB="db_menu_maker"
POSTGRES_USER="user_menu_maker"
POSTGRES_PASSWORD="password_menu_maker"

PGWEB_DATABASE_URL="postgres://user_menu_maker:password_menu_maker@db_menu_maker:5432/db_menu_maker?sslmode=disable"
